.cardcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card1 {
  width:19vw;
  height: 10%;
}
.image1{
  height: 23.2vw;
}
@font-face {
font-family: myFirstFont;
src: url("Fonts/Montserrat-Regular.ttf");
}

  /* @media screen and(max-width:){
    .card1{
    width: 359px;
  }
  .card2{
      height:459px;
  }
  }
  @media screen and(max-width:){
    .card1{
    width: 359px;
  }
  .card2{
      height:459px;
  }
  } */